<ul>
    <!-- 聊天对话-->
    {%for each in chat[10*(num-1):10*num]%}
    <li class="item-chat"><a href="/user/{{each[1]}}">【{{each[1]}}】</a>{{each[3]}}:{{each[2]}}</li>
    {%end%}
</ul>
<!--&lt;!&ndash;页码&ndash;&gt;-->
<!--<ul class="pagination">-->
    <!--{% if pages-num>5%}-->

    <!--{%for i in range(num,num+4)%}-->
    <!--<li><a {% if num==i%}class='active'{%end%} href="/chat/{{i}}" class="pagination_a" type="button">{{i}}</a></li>-->
    <!--{%end%}-->
    <!--<li>...</li>-->
    <!--<li><a class="pagination_a" type="button">{{pages}}</a></li>-->
    <!--{%else%}-->
    <!--{% for i in range(num,pages+1)%}-->
    <!--<li><a {% if num==i%}class='active'{%end%} href="/chat/{{i}}" class="pagination_a" type="button">{{i}}</a></li>-->
    <!--{%end%}-->
    <!--{%end%}-->
<!--</ul>-->


