<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='{{static_url("css/main.css")}}'>
    <link rel="stylesheet" href='{{static_url("css/normalize.css")}}'>
    <title>木林森</title>
</head>

<body>

<div class="top">木林森样品展示页面</div>
<div class="content">
    <ul>

        <li><a class="show" href="show.html" target="_blank">
            <img src="../static/img/p2185227574.jpg">

            <p>哥斯拉</p>
        </a></li>
    </ul>
    <ul>
        {% for each in data%}
        <li><a class="show" href="show.html" target="_blank">
            <img src="../static/img/{{each['img']}}.jpg">

            <p>{{each['name']}}</p></a></li>
        {% end %}
    </ul>
</div>
<div class="footer">
    {% for i in range(num)%}
    <a class="index" href="\">{{i}}
    </a>{%end%}
</div>
</body>
<footer>123</footer>
</html>